<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div id="logo" th:fragment="logo">
    <img src="/logo.png">
    Forum dyskusyjne dyskusja dla dyskusji
</div>
<div id="menu" th:fragment="menu">
    <a href="/main" class="button">Strona Główna</a>
    <a th:if="${!sessionObject.isLogged()}" href="/login" class="button">Zaloguj</a>
    <a th:if="${sessionObject.isLogged()}" href="/logout" class="button">Wyloguj</a>
    <a th:if="${sessionObject.isAdmin()}" href="/users" class="button">Użytkownicy</a>
    <p th:if="${sessionObject.isLogged()}"  class="button" th:text="${sessionObject.user.getLogin}"></p>
</div>
</body>
</html>