<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Forum dyskusyjne Klubu Dyskutantów</title>
  <link rel="stylesheet" href="/common.css">
</head>
<body>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>
<div id="content">

<form method="post" id="form" onsubmit="return validateLoginForm()">
  <input type="text" placeholder="Login" class="text-input" name="login" id="login">
  <input type="password" placeholder="Password" class="text-input" name="password" id="password">
  <input type="submit" value="OK" class="button">
</form>
<a href="/register">Zarejestruj</a>
</div>


</body>
</html>