<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum dyskusyjne Klubu Dyskutantów</title>
    <link rel="stylesheet" href="/common.css">
</head>
<body>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>


<div id="content">

    <div>Temat</div>
    <div th:each="title : ${titles}" >
    <a  th:text="${title.name}" th:href="@{/post/show/{titleId}(titleId=${title.id})}" class="button" ></a>
    <a th:if="${this.sessionObject.isLogged}" href="/title/delete/" class="button">Usuń temat</a>
    <a th:if="${this.sessionObject.isLogged}" href="/title/edit/" class="button">Edytuj temat</a>
    </div>
    <a th:if="${this.sessionObject.isLogged}" href="/title/add/" class="button">Dodaj temat</a>

</div>

</div>
</body>
</html>